@import'flex';
$w:1200px;
$back: #333;
.container {
    max-width: $w;
    margin-right: auto;
    margin-left: auto;
}

.container {
    .Start {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60px;
        height: 40px;
        border: none;
        background: #0e9d53;
        color: white;
    }
    .option {
        display: grid;
        position: fixed;
        top: 40%;
        left: 48%;
        transform: translate(-50%, -50%);
        label {
            margin-bottom: 10px;
        }
    }
    img {
        border-radius: 50%;
        position: absolute;
        right: 60px;
        top: 20px;
    }
}